
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #1e90b2;
}

section{
    padding: 100px 0;
}
.max-width{
    max-width: 1100px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{

    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #1e90b2;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}
/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px ;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    box-shadow: 5px 10px 25px rgba(2, 6, 18, 0.51);
}
.navbar.sticky{
    padding: 15px 0;
    background: #1e90b2;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navbar .logo a{
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
    font-family:'Verdana';
}

.navbar .logo a span{
    transition: all 0.3s ease;
    display: inline-block;
    color: #028cb9;
    transform-origin: 50% 70%;
}
.navbar.sticky .logo a span{
    color: rgb(31, 6, 56);
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
    cursor: pointer;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    transform:none;
}
.navbar .menu li a:hover{
    color: #1e90b2;
    cursor: pointer;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
    cursor: pointer;
}

.menu-btn{
    color: #ff0000;
    font-size: 23px;
    cursor:pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #1e90b2;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

.home{
    display: flex;
    background: url("images/christian-englmeier-J7EUjSlNQtg-unsplash\ \(1\).jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #1e90b2;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: #1e90b2;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #1e90b2;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: #1e90b2;
    background: none;
}

.about .title::after{
    content: "who i am";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 55px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-left: 10px;
}
.about .about-content .right .text span{
    color: #1e90b2;
}
.about .about-content .right p{
    text-align: justify;
    font-size: 20px;
    margin-left: 10px;
}
.about .about-content .right a{
    display: inline-block;
    background: #1e90b2;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #1e90b2;
    transition: all 0.3s ease;
    margin-left: 10px;
}
.about .about-content .right a:hover{
    color: #1e90b2;
    background: none;
}

.services, .teams{
    color:#fff;
    background: #111;
}
.services .title::before,
.teams .title::before{
    background: #fff;
}

.services .title::after,
.teams .title::after{
    background: #111;
    content: "what i ";
}
.contact .title::after{
    background: #111;
    content: "get in touch";
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: #1e90b2;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: #1e90b2;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.skills .title::after{
    content: "what i know";
}

.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: #1e90b2;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #1e90b2;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: #1e90b2;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #1e90b2;
}
.skills-content .right .html::before{
    width: 100%;
}
.skills-content .right .python::before{
    width: 90%;
}
.skills-content .right .cpp::before{
    width: 80%;
}
.skills-content .right .press::before{
    width: 90%;
}
.skills-content .right .mysql::before{
    width: 70%;
}
.skills-content .right .canva::before{
    width: 100%;
}


.teams .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background: #1e90b2;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #1e90b2;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #1e90b2!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: #1e90b2!important;
}

footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    font-size: 23px;
}
footer span{
    font-size: 18px;
}
footer span a{
    color: #1e90b2;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}
@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 22px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 10px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}
@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}
@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 1px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}


span:nth-child(2n) {
  color: #009688;
}

span:nth-child(1) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .2s both;
}

span:nth-child(2) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55).4s both;
}

span:nth-child(3) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55).6s both;
}

span:nth-child(4) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .8s both;
}

span:nth-child(5) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1s both;
}
@keyframes flipUp {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

@media screen and (min-width: 4px) {
  span {
    font-size: 35px;
  }
  span:nth-child(5) {
    margin: 0;
  }
}

@media screen and (min-width: 6px) {
  span {
    font-size: 35px;
  }
  span:nth-child(5) {
    margin: 0;
  }
}

@media screen and (min-width: 9SSpx) {
  span {
    font-size: 35px;
  }
  span:nth-child(5) {
    display: inline-block;
    margin: 0;
    
  }
}




/** ---- Portfolio ---- **/

#portfolio{
    padding: 50px 30px;
    color: white;
    background-color: black;
}
#portfolio .title::after{
    content: "what i did";
    background: #111;
}
#portfolio .title::before{
    background: #fff;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    display: block;
    transition: transform .25s;
}

.layer{
    width: 100%;
    height: 0;
    background: rgb(4,92,177);
background: linear-gradient(0deg, rgba(4,92,177,0.7792366946778712) 13%, rgba(0,203,236,0.5047268907563025) 68%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: .875rem;
    transition: height .25s
}

.layer h3{
    font-size: 2.5em;
    color: black;
}

.layer p{
    font-size: 1.2em;
    color: black;
}

.layer h3, .layer p{
    margin-bottom: 20px;
}

.layer a{
    display: inline-block;
    margin: 20px;
    font-size: 1.6rem;
    color: #000000;
    background-color: #ffffff;
    padding: 17px;
    border-radius: 10%;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    width: fit-content;
    padding: 14px 40px;
    border-radius: 35px;
    transition: background-color .25s;
    cursor: pointer;
    display: inline-block;
    background-color: var(--secondaryColor);
    color: var(--thirdColor);
    margin-bottom: 50px;
    transition: transform .25s;
}

.btn:hover{
    transform: scale(1.1);
    color: aqua;
}


section .title1{

    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
